<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Best songs</h1>
        <ul>
            <li th:each="song : ${songs}">
                <a th:href="@{/songs/{id}(id=${song.id})}">
                    <span th:text="${song.title}"></span>
                </a>
            </li>
        </ul>
        <a th:href="@{/}">Home</a>
    </div>
</body>
</html>